/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}


.bg-primary {
    --bs-bg-opacity: 1;
    background-color:  rgb(8 76 206 / 77%) !important;
}


.container-fluid{
    position: fixed;
    background-color: white;
    Z-INDEX: 1;
    top: 0px;
    background-color: #938080;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.project h3 {
    color: #333;
}

.project a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#contact a {
    color: #007BFF;
}
